@import "tailwindcss";

@theme {

    /* PRIMITIVE COLORS */

    /* Blue scale */
    --color-blue-50: #E4EDED;
    --color-blue-100: #BCD5D4;
    --color-blue-200: #91B9B7;
    --color-blue-300: #67878A;
    --color-blue-400: #486B87;
    --color-blue-500: #264776;
    --color-blue-600: #1F406E;
    --color-blue-700: #173763;
    --color-blue-800: #112E57;
    --color-blue-900: #0A1E3F;

    /* Pink scale */
    --color-pink-50: #FFEBF0;
    --color-pink-100: #FCCD7D;
    --color-pink-200: #F9C8A0;
    --color-pink-300: #FFB0A0;
    --color-pink-400: #FF4358;
    --color-pink-500: #FE113D;
    --color-pink-600: #DF002E;
    --color-pink-700: #BF0020;
    --color-pink-800: #A00020;
    --color-pink-900: #D10020;

    /* Neutral scale */
    --color-neutral-50: #F7F7F7;
    --color-neutral-100: #EDEDED;
    --color-neutral-200: #E0E0E0;
    --color-neutral-300: #D1D1D1;
    --color-neutral-400: #B3B3B3;
    --color-neutral-500: #999999;
    --color-neutral-600: #737373;
    --color-neutral-700: #4D4D4D;
    --color-neutral-800: #333333;
    --color-neutral-900: #1A1A1A;

    /* High contrast */
    --color-white: #FFFFFF;
    --color-black: #0E0E0E;

    /* SEMANTIC COLORS */

    /* Brand */
    --color-brand-primary: var(--color-blue-900);
    --color-brand-secondary: var(--color-pink-500);

    /* Background */
    --color-bg-light: var(--color-white);
    --color-bg-dark: var(--color-blue-900);
    --color-bg-accent: var(--color-pink-500);

    /* Content */
    --color-content-primary: var(--color-neutral-700);
    --color-content-secondary: var(--color-neutral-400);
    --color-content-inverse: var(--color-white);

    /* State */
    --color-state-active: var(--color-pink-900);
    --color-state-focus: var(--color-blue-500);
    --color-state-hover-primary: var(--color-blue-700);
    --color-state-hover-accent: var(--color-pink-300);
    --color-state-disabled-bg: var(--color-neutral-200);
    --color-state-disabled-text: var(--color-neutral-400);

    /* Surface */
    --color-surface-base: transparent;
    --color-surface-hover-accent: var(--color-pink-300);
    --color-surface-hover-dark: var(--color-blue-400);
    --color-surface-shadow: rgba(0, 0, 0, 0.15);
    --color-surface-border-primary: var(--color-pink-600);
    --color-surface-border-secondary: var(--color-white);

    /* Functional */
    --color-func-accent: var(--color-pink-600);
    --color-func-success: #1AA7FA;
    --color-func-warning: #EECE00;
    --color-func-error: #FF131B;

    /* Fonts Tokens */

    /* Font families */
    --font-primary: 'Plus Jakarta Sans', sans-serif;
    --font-secondary: 'Nunito', sans-serif;

    /* Headings */
    --font-h1-family: var(--font-primary);
    --font-h1-size: 64px;
    --font-h1-line: 75px;
    --font-h1-weight: 700;

    --font-h2-family: var(--font-primary);
    --font-h2-size: 32px;
    --font-h2-line: 40px;
    --font-h2-weight: 600;

    --font-h3-family: var(--font-primary);
    --font-h3-size: 20px;
    --font-h3-line: 50px;
    --font-h3-weight: 800;
    --font-h3-spacing: 0.23em;

    --font-h4-family: var(--font-secondary);
    --font-h4-size: 24px;
    --font-h4-line: 32px;
    --font-h4-weight: 700;

    --font-h5-family: var(--font-secondary);
    --font-h5-size: 18px;
    --font-h5-line: 50px;
    --font-h5-weight: 700;

    /* Body */
    --font-b1-family: var(--font-secondary);
    --font-b1-size: 20px;
    --font-b1-line: 28px;
    --font-b1-weight: 400;

    --font-b2-family: var(--font-secondary);
    --font-b2-size: 16px;
    --font-b2-line: 50px;
    --font-b2-weight: 400;

    --font-b3-family: var(--font-secondary);
    --font-b3-size: 15px;
    --font-b3-line: 50px;
    --font-b3-weight: 400;

    /* Labels */
    --font-l1-family: var(--font-secondary);
    --font-l1-size: 12px;
    --font-l1-line: 16px;
    --font-l1-weight: 400;

    --font-l2-family: var(--font-secondary);
    --font-l2-size: 12px;
    --font-l2-line: 50px;
    --font-l2-weight: 400;

    --font-l3-family: var(--font-secondary);
    --font-l3-size: 14px;
    --font-l3-line: 20px;
    --font-l3-weight: 400;
}