@import "tailwindcss";

@theme {
        
    /* PRIMITIVE TOKENS  */

    /* Base */
    --color-black: #0e0e0e;
    --color-white: #ffffff;

    /* Blue */
    --color-blue-50: #e4e8ed;
    --color-blue-100: #bbc5d4;
    --color-blue-200: #919fb7;
    --color-blue-300: #687b9a;
    --color-blue-400: #486087;
    --color-blue-500: #264776;
    --color-blue-600: #1f406e;
    --color-blue-700: #173763;
    --color-blue-800: #112e57;
    --color-blue-900: #0a1e3f;

    /* Magenta */
    --color-magenta-50: #ffebf0;
    --color-magenta-100: #ffcdd7;
    --color-magenta-200: #fc98a0;
    --color-magenta-300: #f76d7a;
    --color-magenta-400: #ff4358;
    --color-magenta-500: #ff213c;
    --color-magenta-600: #fe113d;
    --color-magenta-700: #eb0036;
    --color-magenta-800: #df002e;
    --color-magenta-900: #d10020;

    /* Gray */
    --color-gray-50: #f7f7f7;
    --color-gray-100: #ededed;
    --color-gray-200: #e0e0e0;
    --color-gray-300: #d1d1d1;
    --color-gray-400: #b3b3b3;
    --color-gray-500: #999999;
    --color-gray-600: #737373;
    --color-gray-700: #4d4d4d;
    --color-gray-800: #333333;
    --color-gray-900: #1a1a1a;


    /* VARIABLES (FIGMA VARIABLES) */

    --color-namespace: #c0a600;
    --color-object: #0ba122;
    --color-base: #386cfe;
    --color-modifier: #bf292e;

    --table-full: #c5e8cb;
    --table-x: #d78e7e;


    /*  SEMANTIC TOKENS */

    /* Brand */
    --brand-primary: var(--color-blue-900);
    --brand-secondary: var(--color-magenta-600);

    /* Content */
    --content-primary: var(--color-gray-700);
    --content-secondary: var(--color-gray-400);
    --content-inverse: var(--color-white);

    /* State */
    --state-active: var(--color-magenta-900);
    --state-focus: var(--color-blue-500);

    --state-hover-primary: var(--color-blue-700);
    --state-hover-accent: var(--color-magenta-400);

    --state-disabled-content: var(--color-gray-400);
    --state-disabled-background: var(--color-gray-200);

    /* Surface */
    --surface-base: var(--color-white);
    --surface-shadow: color-mix(in srgb, var(--color-black) 15%, transparent);

    --surface-hover-accent: var(--color-magenta-300);
    --surface-hover-dark: var(--color-blue-400);

    --surface-border-primary: var(--color-magenta-600);
    --surface-border-secondary: var(--color-white);

    /* Functional */
    --functional-action: #fe113d;
    --functional-success: #0d875e;
    --functional-warning: #eece00;
    --functional-error: #db3327;

    /* Fonts Tokens */

    /* Font families */
    --font-primary: 'Plus Jakarta Sans',
    sans-serif;
    --font-secondary: 'Nunito',
    sans-serif;

    /* Headings */
    --font-h1-family: var(--font-primary);
    --font-h1-size: 64px;
    --font-h1-line: 75px;
    --font-h1-weight: 700;

    --font-h2-family: var(--font-primary);
    --font-h2-size: 32px;
    --font-h2-line: 40px;
    --font-h2-weight: 600;

    --font-h3-family: var(--font-primary);
    --font-h3-size: 20px;
    --font-h3-line: 50px;
    --font-h3-weight: 800;
    --font-h3-spacing: 0.23em;

    --font-h4-family: var(--font-secondary);
    --font-h4-size: 24px;
    --font-h4-line: 32px;
    --font-h4-weight: 700;

    --font-h5-family: var(--font-secondary);
    --font-h5-size: 18px;
    --font-h5-line: 50px;
    --font-h5-weight: 700;

    /* Body */
    --font-b1-family: var(--font-secondary);
    --font-b1-size: 20px;
    --font-b1-line: 28px;
    --font-b1-weight: 400;

    --font-b2-family: var(--font-secondary);
    --font-b2-size: 16px;
    --font-b2-line: 50px;
    --font-b2-weight: 400;

    --font-b3-family: var(--font-secondary);
    --font-b3-size: 15px;
    --font-b3-line: 50px;
    --font-b3-weight: 400;

    /* Labels */
    --font-l1-family: var(--font-secondary);
    --font-l1-size: 12px;
    --font-l1-line: 16px;
    --font-l1-weight: 400;

    --font-l2-family: var(--font-secondary);
    --font-l2-size: 12px;
    --font-l2-line: 50px;
    --font-l2-weight: 400;

    --font-l3-family: var(--font-secondary);
    --font-l3-size: 14px;
    --font-l3-line: 20px;
    --font-l3-weight: 400;
}